/* Font class */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



/* shared style */
.text-primary {
    color: #FD6E0A;
}


.dark-2 {
    color: #474747;
}

.dark-03 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}


/* Header styles */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    margin-left: 25px;
}


nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;

}

nav ul {
    display: flex;
    align-items: center;

}


/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 230px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;

}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-profile-pic {
    width: 584px;
    height: 676px;
}

.banner > .content > .btn-primary > a{
    text-decoration: none;
    color: white;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
    margin-bottom: 130px;
}


/* about styles */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.items{
    display: flex;
    justify-content: space-around;
}


.item-description {
    font-weight: bold;
}


/* Skills-section styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    
}


/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
}


.experience-title{
    font-size: 25px;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume hr{
    margin: 30px 5px;
}

.resume > .text-center > .btn-primary{
    margin-top: 50px;
}

.resume > .text-center > .btn-primary > a{
    text-decoration: none;
    color: white;
}


/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input, footer textarea{
    height:64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin: 24px 0;
    padding: 10px 20px;   
    border: none; 
}